<div class="container">
    <div class="row justify-content-center mt-5">
        <%= image_tag @project.photo.url, class: 'img-fluid ', style: 'max-width: 500px;' %>
    </div>    
    <div class="row justify-content-center mt-5">        
        <h2><%=@project.name%></h2>        
    </div>
    <div class="row justify-content-center m-5">
        <p><%=@project.about%></p>        
    </div>
    <%= render 'form', donation: @donation %>

</div>