@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome-sprockets";
@import "font-awesome";

.cc-inlineStats {
    display: flex;
    margin: 0;
    padding: 15px;
    .cc-inlineStats__group {
      box-shadow: 1px 0 0 #e4e4e4;
      display: flex;
      flex-direction: column-reverse;
      flex-grow: 1;
      float: left;
      padding: 0 8px;
      text-align: center;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        box-shadow: none;
        padding-right: 0;
      }
      .cc-inlineStats__label {
        font-size: 0.8em;
        font-weight: bold;
        margin: 0;
        padding: 0;
        color:  #f04d57;
      }
      .cc-inlineStats__value {
        font-size: 0.8em;
        font-weight: 700;
        margin: 0;
        padding: 0;
        color: black;
      }
    }
  }

.text-red-pacto {
    color: #d32064ff;
}

.text-back-pacto {
  color: black;
}
nav {
  background:transparent!important;
}
nav a:hover {
  color: #f04d57!important;
  border-bottom: 2px solid #f04d57;
  padding: 6px 0; 
}

.card-title  {
  border-bottom: 2px solid #f04d57;
}

.home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("/covidzero-background.png");
  color: white;
  height: 600px;
}

.bg-black {
  background: black;
   
}
.projects-caption {
  color: black!important;
  border-bottom: 2px solid #f04d57;
}

.apoiadores {
  
  border: 1px solid gray;
  height: 200px!important;
  margin: 2px;
}

.apoiadores img {
  width: 150px;
  height: auto;
}

.text-covid {
  text-align: justify;
  color: #1E1E1E;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.8em;
}



/* Credit Card Form */
.usable-creditcard-form, .usable-creditcard-form * {
  font-size: 13px;
}
.usable-creditcard-form {
  position: relative;
  padding: 0px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.usable-creditcard-form .wrapper {
  border: 1px solid #CCC;
  border-top: 1px solid #AAA;
  border-right: 1px solid #AAA;
  height: 74px;
  width: 300px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.usable-creditcard-form .input-group {
  position: absolute;
  top: 300px;
}
.usable-creditcard-form .input-group.nmb_a {
  position: absolute;
  width: 200px;
  top: 0px;
  left: 0px;
}
.usable-creditcard-form .input-group.nmb_b {
  position: absolute;
  width: 100px;
  top: 0px;
  right: 0px;
}
.usable-creditcard-form .input-group.nmb_b input,
.usable-creditcard-form .input-group.nmb_d input {
  text-align: center;
}
.usable-creditcard-form .input-group.nmb_c {
  position: absolute;
  width: 200px;
  top: 37px;
  left: 0px;
}
.usable-creditcard-form .input-group.nmb_d {
  position: absolute;
  width: 100px;
  top: 37px;
  right: 0px;
}
.usable-creditcard-form input {
  background: none;
  display: block;
  width: 100%;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin:0px;
  padding-left: 35px;
  border: none;
}
.usable-creditcard-form .input-group .icon {
  position: absolute;
  width: 22px;
  height: 22px;
  background: #CCC;
  left: 8px;
  top: 7px;
}
.usable-creditcard-form .input-group.nmb_a input {
  border-right: 1px solid #ECECEC;
}
.usable-creditcard-form .input-group.nmb_c input {
  border-top: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
}

.usable-creditcard-form input::-webkit-input-placeholder {
  font-size: 12px;
  text-transform: none;
}
.usable-creditcard-form .input-group.nmb_d input {
  border-top: 1px solid #ECECEC;
}

.usable-creditcard-form .input-group.nmb_c input {
  text-transform: uppercase;
}
.usable-creditcard-form .accept {
  color: #999;
  font-size: 11px;
  margin-bottom: 5px;
}
.usable-creditcard-form .footer {
  margin-top: 3px;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}
.usable-creditcard-form .footer img {
  padding: 0px;
  margin: 0px;
}
.usable-creditcard-form .iugu-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* .project-stats h1, .project-stats h6{
        color:#FFF;
      } */
.project-stats-card {
  opacity: 0.8;
  background-color: #1E1E1E;
}
.project-stats-card * {
  color: #fff !important;
}

.project-stats-card-inverse {
  opacity: 0.8;
  background-color: #fff;
}
.project-stats-card-inverse * {
  color: #c9252c !important;
}