@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome-sprockets";
@import "font-awesome";

.cc-inlineStats {
    display: flex;
    margin: 0;
    padding: 15px;
    .cc-inlineStats__group {
      box-shadow: 1px 0 0 #e4e4e4;
      display: flex;
      flex-direction: column-reverse;
      flex-grow: 1;
      float: left;
      padding: 0 8px;
      text-align: center;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        box-shadow: none;
        padding-right: 0;
      }
      .cc-inlineStats__label {
        font-size: 0.8em;
        font-weight: bold;
        margin: 0;
        padding: 0;
        color:  #f04d57;
      }
      .cc-inlineStats__value {
        font-size: 0.8em;
        font-weight: 700;
        margin: 0;
        padding: 0;
        color: black;
      }
    }
  }

.text-red-pacto {
    color: #d32064ff;
}

nav {
  background:transparent!important;
}
nav a:hover {
  color: #f04d57!important;
  border-bottom: 2px solid #f04d57;
  padding: 6px 0; 
}

.card-title  {
  border-bottom: 2px solid #f04d57;
}

.home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("/covidzero-background.png");
  color: white;
  height: 600px;
}

.bg-black {
  background: black;
   
}
.projects-caption {
  color: black!important;
  border-bottom: 2px solid #f04d57;
}

.apoiadores {
  
  border: 1px solid gray;
  height: 200px!important;
  margin: 2px;
}

.apoiadores img {
  width: 150px;
  height: auto;
}

.text-covid {
  text-align: justify;
  color: #1E1E1E;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.8em;
}